*.pyc
plotOutput/**
output.pdf
Simulator/PySOL/outputs/*
Simulator/PySOL/save_sim/*
*.exe
Simulator/plotOutput/**
interface/vn100/vn100_library/build/
interface/vn100/vn100_library/dist/
interface/vn100/vn100_library/vnpy.egg-info/
*/.ipynb_checkpoints/*
.DS_Store
.ipynb_checkpoints/*
__pycache__
.venv/
Maya_project/Irishsat_Simulator/images/
Maya_project/Irishsat_Simulator/cache/
Maya_project/Irishsat_Simulator/autosave/
.mayaSwatches/
*.swatches
*.log
*.tmp
*.bak
*.tx
*.melException
*.crash
.vscode/